/*  fetched with curl from arbitrary reddit page, cleaned with csstidy
 *  removed 'url(...)' with ':g/url(/d'
 *  .side has 'display: none'
 *
 * */

#sr-header-area, #header-bottom-left, #header-bottom-right, #jumpToContent,
.side, .footer-parent, .help, .help-section, .infobar, .score, .tagline,
.share, .login-required, .empty, .comment-save-button, .unvotable-message {
    display:none !important;
}

body { margin: 4em; }

a {
    outline:none;
    text-decoration: none;
}

li {
    list-style-type: none; 
}

blockquote {
    padding-left: 0.83em;
    border: #777 1px dotted;
    font-family: monospace;
}

.title {
    color:#282;
    margin-right:.4em;
    font-weight:700;
    padding:0;
}

.title:visited {
    color:#551a8b;
}

.child .child .child { background-color: #ccf; border-left: #88a 1px solid; }
.child .child { background-color: #ddf; }
.child { padding-left: 1em; padding-right: 0.5em; background-color: #eef; }
